.menu-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.buttontest {
  padding: 100px;
  color: blue;
  margin-right: 100px;
  background-color: black;
}
