.our-clients {
  text-align: center;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .our-clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
