.portfolio-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  &__button {
    background-color: var(--secondary-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border: none;
    font-family: "Roboto";
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-property: background-color, color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      background-color: var(--brand-color);
      color: var(--white);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
