:root {
  --black: #000000;
  --white: #ffffff;
  --brand-color: #2196f3;
  --text-primary: #212121;
  --text-secondary: #757575;
  --primary-background: #2f303a;
  --secondary-background: #f5f4fa;
  --fill: #afb1b8;
  --border-header: #ececec;
  --border-figure: #eeeeee;
}
